.main {
    height: 650px;
    background: url(../images/background.jpg) center / cover;
}

.proposition-section {
    max-width: 70%;
    margin: auto;
    padding-top: 150px;
    color: white;
    text-align: center;
}

.proposition-h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.proposition-para {
    margin: 20px 0;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.9em;
}

/* features */

.features {

}

.container-features {
    max-width: 80%;
    display: flex;
    margin: 100px auto;
    color: #222;
    text-align: center;
}

.feature:nth-child(1) {
    margin-right: 50px;
}

.header-feature {
    margin-bottom: 15px;
}

.header-feature i {
    margin-bottom: 15px;
}
