/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* general */
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.separator {
  height: 5px;
  margin: 0 auto;
  width: 300px;
  background-color: #111;
}

.btn {
  padding: 15px 25px;
  border-radius: 30px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.btn-dark {
  background-color: #222;
  color: white;
}

.btn-dark:hover {
  color: #222;
  background-color: white;
  border: 1px solid #222;
}

.btn-light {
  background-color: white;
  color: #222;
}

.btn-light:hover {
  background-color: #222;
  color: white;
}
